#main {
  margin: 0 15vw;
  @include d(sm) {
    margin: 0 5vw;
  }
}

h1 {
  font-weight: 700;
  @include type-1(30);
  color: $black;
}

p {
  @include type-1(16);
  font-weight: 500;
  margin-top: 10px;
}
