#main {
  margin: 0 15vw;
}

h1 {
  font-weight: 700;
  @include type-1(30);
  color: $black;
}

p {
  @include type-1(16);
  font-weight: 500;
  margin-top: 10px;
}

// /* MOBILE */
// @media (max-width: 966px) {
//   .smallIcons {
//     width: 10px;
//     margin: 0px;
//     padding: 0px;
//   }

//   .mobileBreadcrumb {
//     display: flex;
//     justify-content: center;
//     padding: 30px 0 40px;
//   }

//   .fontBreadcrumb {
//     margin: 0px;
//   }

//   #main {
//     margin: 0 5vw;
//   }
// }
