footer {
  display: flex;
  flex-direction: column;
  background: $main-blue;
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  height: 200px;
  position: relative;
  margin-top: 20px;
  @include type-1(12);
  @include d(sm) {
    height: auto;
  }
}

/* Upper section */
.helpContainer {
  display: block;
  width: 100%;
  background: $secondary-blue;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  font-size: 0.9rem;
  color: #fff;
  height: 100px;
  padding: 0;
  @include d(sm) {
    height: auto;
    background: none;
  }
}

.help {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 15vw;
  height: 100px;
  position: relative;

  @include d(sm) {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.smallIconsFooter {
  display: flex;
  flex-direction: column !important;
  width: 33% !important;
}

.footerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $secondary-blue;
  width: 100%;
  padding: 25px 0;

  img {
    width: 40px;
    margin-right: 25px;
    @include d(sm) {
      margin: 0 0 10px 0;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    h3 {
      font-weight: 600;
      color: #fff;
      &:first-of-type {
        @include type-1(20);
      }
      &:nth-child(2) {
        @include type-1(16);
      }
    }

    @include d(sm) {
      font-weight: 700;
    }
  }
}

/* Bottom section */
.madeWithLove {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 40px;

  img {
    width: 15px;
    margin: 0 5px;
  }
}
