.showcaseContainer {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0 10px 20px 0;

  @include d(sm) {
    height: auto;
    width: 100%;
    margin: 20px 0 20px 0;
  }
}

.showcaseItem {
  width: 280px;
  height: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  .showcaseInfo:nth-child(1) {
    padding: 0px;
    padding-bottom: 15px;
  }
  .showcaseInfo:nth-child(3) {
    border-style: none;
  }

  @include d(sm) {
    width: auto;
  }
}

.showcaseInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #d3d3d3;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  section {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include type-1(14);
    :first-child {
      color: $black;
      margin-bottom: 5px;
    }
    :nth-child(2) {
      color: $secondary-blue;
      margin-bottom: 10px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $main-font;
    color: $black;
  }

  @include d(sm) {
    padding: 20px 0;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  img {
    max-height: 70px;
  }
  @include d(sm) {
    margin-bottom: 20px;
  }
}

.scoreContainer {
  width: 100%;
  @extend .flex-row;
  justify-content: space-evenly;
  align-items: center;
}

.courseTurn {
  @extend .flex-row;
  h2,
  h3 {
    color: $black;
    @include type-1(18);
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.classStart {
  color: $black;
  @include type-1(14);
  font-weight: 100;
}

.queroBolsaDiscount {
  margin-bottom: 10px;
  @include type-1(14);
  color: $black;
  font-weight: 700;
}

.discountTxt {
  @extend .flex-row;
  align-items: baseline;
  h1 {
    color: #0fa866;
    font-weight: bold;
    margin-right: 5px;
  }
  h4 {
    font-weight: 500;
  }
}

.showcaseButtonsContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  div {
    @extend .flex-row;
    justify-content: space-evenly;
    height: 35px;
    width: 100%;
    @include d(sm) {
      height: 50px;
    }
  }

  .cancelBtnShowcase {
    width: 90px;
  }

  .addBtnShowcase {
    width: 120px;
  }

  .btnDisabled {
    border: 2px solid #adadad;
    background-color: #d3d3d3;
    cursor: default;
  }
}

.stars {
  width: auto;
  height: 25px;
}
