.cancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid $secondary-blue;
  color: $secondary-blue;
  @include type-1(16);
  transition: all 0.3s;
  cursor: pointer;
  width: 110px;
  border-radius: 5px;
  &:hover {
    background: $secondary-blue;
    h4 {
      color: #fafafa;
    }
  }
  @include d(sm) {
    flex-grow: 1;
    margin: 0 20px;
  }
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid $secondary-yellow;
  background-color: $main-yellow;
  text-align: center;
  @include type-1(16);
  transition: all 0.3s;
  cursor: pointer;
  width: 200px;
  border-radius: 5px;
  h4 {
    color: $black;
    border-style: none !important;
  }
  h3 {
    color: $black;
  }
  @include d(sm) {
    flex-grow: 1;
    margin: 0 20px;
  }
}

.btnDisabled {
  border: 2px solid #adadad;
  background-color: #d3d3d3;
  color: #adadad;
  cursor: default;
}
