.addScholarshipContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  width: 100%;
  height: 430px;
}

.masterModal {
  width: 280px;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 30px;
  cursor: pointer;
}

.masterModal:hover {
  background-color: #f2f2f2;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.plusIcon {
  padding: 10px 0;
  width: 70px;
  margin: 0 auto;
}

.addScholarshipTxt {
  margin: 0 auto;
  text-align: center;
}
h4.addScholarshipTxt {
  font-weight: 100;
}

/* MOBILE */
@media (max-width: 966px) {
  .addScholarshipContainer {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .masterModal {
    width: auto;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    padding: 30px;
  }

  .addScholarshipTxt {
    margin: 0 30px;
  }
}