.semester {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}

.semesterContainer {
  display: flex;
  flex-direction: row;
  border: 2px solid #007a8d;
  /* width: 30%; */
  float: right;
  /* padding: 5px 5px; */
  border-radius: 5px;
}

.item {
  /* padding: 2px 5px; */
  /* padding-right: 5px; */
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-weight: bold;
  padding: 0px 20px;
  border-right: 3px solid #007a8d;
  background-color: white;
  color: #007a8d;
  cursor: pointer;
}


.selectedItem, .item1, .item2, .item3, .item:hover {
  border-right: 3px solid #007a8d;
  background-color: #007a8d;
  color: white;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

#item3 {
  border-right: 0px transparent;
}

/* MOBILE */
@media (max-width: 966px) {

  
  .semesterContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #007a8d;
    width: 100%;
  }

  .item {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-weight: bold;
  border: 1px solid #007a8d;
  background-color: white;
  color: #007a8d;
  cursor: pointer;
}

  .selectedItem, .item1, .item2, .item3 {
  border: 1px solid #007a8d;
  background-color: #007a8d;
  color: white;
  }

  #item3 {
  border: 1px solid #007a8d;
  }
}