nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 15vw;
  position: relative;
}

.headerTxt {
  color: #007a8d;
  font-weight: 700;
}

.logo {
  flex-grow: 0;
  padding: 10px 0;
  width: 110px;
  display: inline-block;
  margin: 0 auto;
}

.smallIcons {
  flex-grow: 0;
  padding: 10px 0;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
}

.hiw {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  align-items: center;
}

.wpp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: initial;
  align-items: center;
  border-left: 3px solid #adadad;
}

.wppTxt {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profileIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.bottomNav {
  background: #18acc4;
  width: 100%;
  height: 50px;
  padding: 0 13.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr;
  /* justify-content: center; */
  align-items: center;
}

.bottomNavTxt {
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
}

.bottomNavTxt:hover {
  background-color: #007A8D;
}

/* MOBILE */
@media (max-width: 966px) {

  nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
  position: relative;
  }

  .bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .bottomNavTxt {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
  }
  
  #preEnroll, #favScholarhsips {
    display: none;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
  }

  .hiw {
    display: flex;
    flex-direction: column;
    border-right: 3px solid 	#D3D3D3;
  }

  .smallIcons {
    width: 35px;
    margin: 0px;
    padding: 0px;
  }

  
  .logo {
    flex-grow: 0;
    width: 150px;
    display: inline-block;
    margin: 0 auto;
  }

  .wpp {
    display: none;
  }

.profileIcon {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  border-left: 3px solid #D3D3D3;
}
}